<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>CITES Trade Data Dashboards</title>
  <link rel="stylesheet" media="all" type="text/css" href="/style/base.css" />
	<%= stylesheet_link_tag "dashboard", :media => "all" %>
	<%= stylesheet_link_tag "customformelements", :media => "all" %>
	<%= stylesheet_link_tag 'lavalamp/lavalamp3', :media => "all" %>
	<%= stylesheet_link_tag 'jquery.cluetip' %>
	<%= stylesheet_link_tag 'select', :media => "all"  %>
  <%= stylesheet_link_tag 'cites' %>

	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "custom-form-elements" %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
	<script>jQuery.noConflict(); </script>
	<%= javascript_include_tag 'lavalamp/jquery.easing.1.3', 'lavalamp/jquery.lavalamp.1.3.3-min'%>
	<%= javascript_include_tag 'jquery.hoverIntent.min' %>
	<%= javascript_include_tag 'jquery.cluetip.min' %>
	<%= javascript_include_tag "select" %>
	<%= javascript_include_tag "dashboards" %>

	<%= javascript_tag "var RAILS_ROOT = '#{ActionController::Base.relative_url_root}';" -%>

	<script type='text/javascript' src='http://www.google.com/jsapi'></script>
	<script type='text/javascript'>
    google.load('visualization', '1', {'packages': ['geomap']});
    google.setOnLoadCallback(drawMap);     //dashboards.js
    var dataarray = [];
    var datawrapper = [];
    var legend = 'Live (number of)';
    datawrapper.push(<%= @mapdata %>);
    if (datawrapper.length > 0) dataarray = datawrapper[0];
	</script>
</head>
<body class="markeeta"> 
<div id="outer"> 
<div id="container"> 
<!-- include("http://www.cites.org/eng/inc/header.php"); -->
<script type="text/javascript" src="/js/milonic_src.js"></script>
<script type="text/javascript">
<!--
if(ns4)_d.write("<script language=JavaScript src=http://www.cites.org/js/mmenuns4.js><\/script>");
else _d.write("<script language=JavaScript src=http://www.cites.org/js/mmenudom.js><\/script>");
-->
</script>
<script type="text/javascript" src="http://www.cites.org/eng/inc/menu_data.js"></script>
<div id="header">
<!-- end #header --></div>
<div id="menutop">
<div id="search">  
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<form method="get" action="http://www.cites.org/eng/results.php">
  <input name="cites" type="text" size="40" placeholder="search CITES.org" />
</form>
  <!-- end #search --></div>
  <!-- end #menutop --></div>
<!-- end include -->
<div id="milieu">
        <div class="headgreen">CITES Trade Data Dashboards</div>
		<div id="content">
			<div id="navigation" style="float:right;">
				<ul id="lavaLampBorderOnly" class="lamp">
					<li><%= link_to "About the Dashboards", about_path %></li>
					<li><%= link_to "Global Dashboard", global_path %></li>
					<li><%= link_to "National Dashboard", national_path %></li>  
				</ul>
			</div>
			<p style="clear:both"></p>
			<%= yield %>
		</div>
		<div id="wcmcfooter">
			<div class="middle">
				This facility was developed and is maintained by UNEP-WCMC for the CITES Secretariat.
			</div>
		</div>
<!-- end #milieu --></div>
<!-- include("http://www.cites.org/eng/inc/footer.php"); -->
<div id="footer"><p><a href="http://www.cites.org/eng/disclaimer.php">Disclaimer</a>&nbsp;  &nbsp;|&nbsp; <a href="http://www.cites.org/eng/contact.php">Contact us</a>&nbsp;  |&nbsp; <a href="http://www.cites.org/eng/resources/faq.php">FAQs</a></p>
<!-- end #footer --></div>
<script id="aptureScript" type="text/javascript" src="http://www.apture.com/js/apture.js?siteToken=Xg9j6uU" charset="utf-8"></script>
<!-- end include -->
<!-- end #container --></div>
<!-- end #outer --></div>
</body>
</html>